vcpkg/
vcpkg_installed/
libprotocd.a
libopentelemetry_metrics.a
libprotobufd.a
libopentelemetry_metrics.a
Tibia/silnik/include-what-you-use/
Tibia/silnik/iwyu/iwyu/
*.log
*.a
# Build binaries
Tibia/silnik/canary_test/canary
Tibia/silnik/canary_test/canary-debug

# Large files zip parts
**/large_files_zip/
*.zip

# OTClient binaries
**/testyy/otclient
**/testyy/build/
**/testyy/*.exe
**/testyy/vcpkg_installed/

# Windows ADS files
*:Zone.Identifier